
*{
    padding: 0px;
    margin: 0px;
}

/*  default */
:root{
    --lightblue: #3EC1D5;
    --orangered: orangered;
    --orange: orange;
    --lightgrey: #e1e1e181;
    --loaderGrey: rgb(229, 229, 229);
}
p {
    margin: 0 0 15px;
    color: #252525;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", sans-serif;
    margin: 0 0 15px;
    color: #000000;
    font-weight: 500;
}

h1 {
    font-size: 48px;
    line-height: 50px;
}

h2 {
    font-size: 38px;
    line-height: 40px;
}

h3 {
    font-size: 30px;
    line-height: 32px;
}

h4 {
    font-size: 24px;
    line-height: 26px;
}

h5 {
    font-size: 20px;
    line-height: 22px;
}

h6 {
    font-size: 16px;
    line-height: 20px;
}

a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

a:hover {
    color: #3EC1D5;
    text-decoration: none;
}

a:active, a:hover {
    outline: 0 none;
}

body {
    background: #000000 none repeat scroll 0 0;
    color: #444;
    font-family: "Inter", sans-serif;
    font-size: 19px;
    text-align: left;
    overflow-x: hidden;
    scroll-behavior: smooth;;
    line-height: 26px;
    padding-bottom: 130px;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
  
input,  select,  textarea,  input[type=text],  input[type=date],  input[type=url],  input[type=email],
input[type=password],  input[type=tel],  button,  button[type=submit] {
    appearance: none;
    box-shadow: none !important;
}


  /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: rgb(0, 0, 0) !important;
}

#header.header-scrolled {
    background: rgb(0, 0, 0);
    height: 64px;
}
#header .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header .logo i{
    color: white;
    font-size: 28px;
    margin-right: 20px;
}
#header .logo i:hover{
    color: var(--orange);
    transition: 200ms;
}
  
#header .logo h1 {
    font-size: 36px;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: bold;
}
  
#header .logo h1 span {
    color: #3ec1d5;
}
  
#header .logo h1 a,  #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
}
  
#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}
#header .btn-sign-in {
    letter-spacing: 1px;
    padding: 3px 24px;
    border-radius: 50px;
    transition: 0.5s;
    margin-left: 20px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.185);
}
#header .btn-sign-in:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}
  
@media (max-width: 768px) {
    
    #header.header-scrolled {
        background: rgba(0, 0, 0, 0.8);
        height: 34px;
    }
    body{
        font-size: 15px;
        line-height: 26px;
    }
    p {
        font-size: 17px;
        margin: 0px;
        color: #444;
    }
}
    
#header {
    height: 46px;
    background: rgba(0, 0, 0, 0.8);
}

#header .logo h1 {
    padding-top: 6px;
    font-size: 25px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}
  
.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
.navbar li {
   position: relative;
}
  
.navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}
  
.navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}
  
  
.navbar a:hover, .navbar .active,  .navbar .active:focus,  .navbar li:hover>a {
    color: #3ec1d5;
}
  
.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}
  
.navbar .dropdown ul li {
    min-width: 200px;
}
  
.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #0d2529;
}
  
  
.navbar .dropdown ul a i {
    font-size: 12px;
  }
  
.navbar .dropdown ul a:hover,  .navbar .dropdown ul .active:hover,  .navbar .dropdown ul li:hover>a {
    color: #3ec1d5;
}
  
.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
  
.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}
  
.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}
  
@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
  
    .navbar .dropdown .dropdown:hover>ul {
      left: -100%;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
    position: relative;
}
  
@media (max-height: 500px) {
    #hero {
      height: 150vh;
    }
}
  
#hero .carousel,  #hero .carousel-inner,  #hero .carousel-item, #hero .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
  
#hero .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
  
#hero .carousel-item::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
}
  
#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 70px;
    left: 50px;
    right: 50px;
}
  
#hero .container {
    text-align: center;
}
  
#hero h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
}
  
@media (max-width: 768px) {
    #hero h2 {
      font-size: 15px;
      line-height: 1;
    }
}
  
#hero p {
    width: 80%;
    font-size: 38px;
    line-height: 1.2;
    margin: 0 auto 30px auto;
    color: #fff;
}
  
@media (min-width: 1024px) {
    #hero p {
      width: 60%;
    }
}
  
@media (max-width: 768px) {
    #hero p {
      font-size: 20px;
      line-height: 1.3;
    }
    .single-well ul li {
      color: #444;
      display: block;
      padding: 2px 0;
    }
    
    .single-well ul li i {
      color: #3EC1D5;
      margin-right: 5px;
      font-size: 18px;
    }
    
    .single-well p {
      color: #444;
    }
    
}
  
#hero .carousel-fade {
    overflow: hidden;
}
  
#hero .carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity;
}
  
#hero .carousel-fade .carousel-inner .carousel-item,  #hero .carousel-fade .carousel-inner .active.carousel-item-start,
#hero .carousel-fade .carousel-inner .active.carousel-item-end {
    opacity: 0;
}
  
#hero .carousel-fade .carousel-inner .active,  #hero .carousel-fade .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
}
  
#hero .carousel-fade .carousel-inner .carousel-item-next,  #hero .carousel-fade .carousel-inner .carousel-item-prev,  #hero .carousel-fade .carousel-inner .active.carousel-item-start,
#hero .carousel-fade .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
}
  
#hero .carousel-control-prev,  #hero .carousel-control-next {
    width: 10%;
}
  
@media (min-width: 1024px) {
  
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
      width: 5%;
    }
}
  
#hero .carousel-control-next-icon,  #hero .carousel-control-prev-icon {
    background: none;
    font-size: 32px;
    line-height: 1;
}
  
#hero .carousel-indicators li {
    cursor: pointer;
    list-style-type: none;
}
  
#hero .btn-get-started {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #3ec1d5;
}
#hero .btn-sign-in {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.185);
}


.carousel-container span {
    color: var(--lightblue);
}

#hero .btn-get-started:hover, #hero .btn-sign-in:hover {
    background: #fff;
    color: #3ec1d5;
}

@media (max-width: 784px) {
    #hero .btn-sign-in {
        display: none;
    }
}


/*--------------------------------------------------------------
# End of Hero Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Login screen
--------------------------------------------------------------*/

.logincenter{
    display: flex;
    flex-direction: column;
    justify-content: center; align-items: center;
    height: 100vh; width: 100vw;
}

/* From Uiverse.io by micaelgomestavares */ 
.logincenter .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 500px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}
  
.logincenter .form button {
    align-self: flex-end;
}
  
.logincenter .flex-column > label {
    color: #151717;
    font-weight: 600;
  }
  
.logincenter .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}
  
.logincenter .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
}
  
.logincenter .input:focus {
    outline: none;
}
  
.logincenter .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}
  
.logincenter .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.logincenter  label {
    font-size: 16px;
    color: black;
    font-weight: 400;
}
.logincenter .span {
    font-size: 15px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}
.logincenter .button-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}
.logincenter .button-submit i{
    color: white;
    font-size: 20px;
    margin-right: 10px;
}
.logincenter .button-submit:hover {
    background-color: #2d79f3;
    transition: 200ms;
}
  
.logincenter .form .p {
    text-align: center;
    color: black;
    font-size: 15px;
    margin: 0px !important;
}
  
.logincenter .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #a1a1a1;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
  
.logincenter .btn:hover {
    border: 1px solid #2d79f3;
    background-color: #2d79f334;
}
.form .see{
    display: flex;
}
.form .hide{
    display: none;
}

.logincenter p{
    color: rgba(255, 255, 255, 0.473);
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 10px;
    text-align: center;
}
.logincenter h3{
    color: white;
    font-weight: bold;
}

/* this hides the increment and decrement buttons inside number input*/
/* For WebKit browsers like Chrome and Safari */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}
  
.registerBtn{
    display: flex;
}
.loadingBtn{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}
.showLoadingBtn{
    display: flex;
}
.hideregisterBtn{
    display: none;
}
/* register loader */ 
.registerloading {
    --speed-of-animation: 0.9s;
    --gap: 6px;
    --first-color: var(--lightblue);
    --second-color: var(--lightblue);
    --third-color: var(--lightblue);
    --fourth-color: var(--lightblue);
    --fifth-color: var(--lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 6px;
    height: 50px;
}

.registerloading span {
    width: 5px;
    height: 30px;
    background: var(--first-color);
    animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.registerloading span:nth-child(2) {
    background: var(--second-color);
    animation-delay: -0.8s;
}

.registerloading span:nth-child(3) {
    background: var(--third-color);
    animation-delay: -0.7s;
}

.registerloading span:nth-child(4) {
    background: var(--fourth-color);
    animation-delay: -0.6s;
}

.registerloading span:nth-child(5) {
    background: var(--fifth-color);
    animation-delay: -0.5s;
}

@keyframes scale {
 0%, 40%, 100% {
  transform: scaleY(0.05);
 }

 20% {
  transform: scaleY(1);
 }
}
      

@media (max-width: 784px) {
    .logincenter .form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: #ffffff;
        padding: 15px;
        width: 93%;
        border-radius: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .logincenter  label {
        padding-top: 4px;
    }
}











/*--------------------------------------------------------------
# End of Login screen
--------------------------------------------------------------*/




/*--------------------------------------------------------------
# Explore screen
--------------------------------------------------------------*/

.exploremain{
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
}

.exploretitle{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.exploretitle span{
    color: var(--lightblue);
}
.exploretitle h3{
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.exploretitle p{
    color: white;
    margin: 20px 0px 40px 0px;
}
.exploretitle i{
    color: var(--orange);
}
.exploreitem{
    padding: 10px;
    margin: 10px 0px;
}
.exploreitem .explorediv{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    max-height: 200px;
}
.exploreitem .itemimage{
    max-width: 180px; min-width: 180px;
    height: 200px;
    border-radius: 15px 0px 0px 15px;
    margin-right: 15px;
    overflow: hidden;
}
.exploreitem .itemimage img{
    height: 100%; width: 100%;
    object-fit: cover;
}
.exploreitem .itemcontents{
    padding: 10px;
}
.exploreitem .itemcontents h4{
    font-size: 20px;
    font-weight: bold;
}
.exploreitem .itemcontents p{
    font-size: 17px;
    line-height: 1.3;
}
.explorehome .itemcontents .viewmore{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 4px 4px 10px;
    margin-top: 10px;
    background-color: rgba(255, 68, 0, 0.19);
    border-radius: 50px;
}
.exploreitem .itemcontents .viewmore p{
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
.explorehome .itemcontents i{
    font-size: 30px;
    color: var(--orangered);
    padding-left: 10px;
}
.explorehome:hover .viewmore{
    background-color: rgba(255, 68, 0, 0.244);
    padding: 4px 4px 4px 15px;
    transition: 200ms;
}
.exploreitem:hover .viewmore i{
    padding-left: 20px;
    transition: 200ms;
}
.exploreitem .explorediv:hover{
    transform: scale(1.02);
    transition: 200ms;
}
.below-note{
    text-align: center;
    color: rgba(255, 255, 255, 0.48);
    font-size: 14px;
}
.below-note:hover{
    color: white;
    transition: 200ms;
}

@media (max-width: 1200px) and (min-width: 991px) {
    .exploreitem .itemcontents p{
        font-size: 14px;
        line-height: 1.2;
    }
}

@media (max-width: 784px) {
    .exploreitem{
        padding: 10px;
    }
    .exploretitle h3{
        font-size: 25px;
    }
    .exploreitem .explorediv{
        max-height: 180px;
    }
    .exploreitem .itemcontents{
        display: flex;
        flex-direction: column;
        height: 180px;
        justify-content: space-between;
    }
    .exploreitem .itemcontents h4{
        font-size: 18px;
        margin: 0px;
    }
    .exploreitem .itemcontents p{
        font-size: 14px;
        line-height: 1.2;
    }
    .exploreitem .itemimage{
        max-width: 100px; min-width: 100px;
        height: 180px;
        margin-right: 0px;
    }
    .exploreitem .itemcontents .viewmore{
        width: 123px;
        margin-top: 4px;
    }
    .exploreitem:hover .viewmore{
        width: 140px;
        transition: 200ms;
    }
    .exploreitem .itemcontents .viewmore p{
        font-size: 14px;
    }
    .exploreitem .viewmore i{
        font-size: 25px;
    }
}




/*--------------------------------------------------------------
# End of Explore screen
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Games screen
--------------------------------------------------------------*/

.game .viewmore{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 4px 4px 10px;
    margin-top: 10px;
    background-color: rgba(0, 255, 8, 0.19);
    border-radius: 50px;
}
.game .itemcontents i{
    font-size: 30px;
    color: green;
    padding-left: 10px;
}
.game:hover .viewmore{
    padding: 4px 4px 4px 15px;
    transition: 200ms;
}
.pagination ul li a{
    color: #000 !important;
}


@media (max-width: 784px) {
    .game .itemcontents .viewmore{
        width: 123px;
        margin-top: 4px;
    }
    .game .itemcontents{
        display: flex;
        flex-direction: column;
        height: 180px;
        justify-content: space-between;
    }
    .game:hover .viewmore{
        width: 140px;
        transition: 200ms;
    }
    .game .viewmore i{
        font-size: 25px;
    }
    .game .itemcontents .viewmore p{
        font-size: 14px;
    }
}










/*--------------------------------------------------------------
# End of Games screen
--------------------------------------------------------------*/























/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-area {
  padding: 40px 0;
  background: #f9f9f9;
}

.footer-head p {
  color: #444;
}

.footer-head h4 {
  color: #444;
  font-size: 16px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.footer-logo {
  padding-bottom: 20px;
}

.footer-logo h2 {
  color: #222;
  padding: 0;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}
@media(max-width: 768px) {
  .footer-logo h2 {
    color: #222;
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    line-height: 1;
  }
  .footer-head p {
    font-size: 16px;
  }
}

.footer-logo h2 span {
  color: #3ec1d5;
}

.footer-icons ul li {
  display: inline-block;
}

.footer-icons ul li a {
  border: 1px solid #444;
  color: #444;
  display: block;
  font-size: 16px;
  height: 40px;
  line-height: 38px;
  margin-right: 5px;
  text-align: center;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.footer-icons ul li a i {
  line-height: 0;
}

.flicker-img a {
  float: left;
  padding: 1px;
  width: 33.33%;
  height: 110px;
}
.flicker-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.footer-icons {
  margin-top: 30px;
}
.footer-contacts p{
  color: black;
}
.footer-contacts p span {
  color: #3EC1D5;
  font-weight: 700;
}
.footer-contacts b{
  color: black !important;
}

.popular-tag ul li {
  display: inline-block;
}

.footer-content {
  display: block;
  overflow: hidden;
}

.popular-tag ul li a:hover,
.footer-icons ul li a:hover {
  background: #3EC1D5;
  border: 1px solid #3EC1D5;
  color: #fff;
}

.popular-tag ul li a {
  border: 1px solid black;
  border-radius: 30px;
  color: #444;
  font-size: 13px;
  display: block;
  font-weight: 600;
  margin: 5px 3px;
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.4s ease 0s;
  width: 70px;
}

.footer-area-bottom {
  background: #f1f1f1 none repeat scroll 0 0;
  padding: 15px 0;
}

.copyright-text a:hover {
  text-decoration: underline;
  color: #3EC1D5;
}

.copyright-text a {
  color: black;
}

.copyright>p {
  margin-bottom: 0;
  color: black;
}

.copyright a,
.credits a {
  color: #3EC1D5;
}

.credits {
  padding-top: 5px;
  text-align: center;
}


/*--------------------------------------------------------------
# End of Footer
--------------------------------------------------------------*/


























































/*--------------------------------------------------------------
# Info Tab
--------------------------------------------------------------*/

.displayinfo{
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.826);
    z-index: 996;
}
.displayinfodiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 40%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.displayinfoicon{
    height: 80px; min-width: 80px; max-width: 80px;
    overflow: hidden;
}
.displayinfoicon img{
    height: 100%; width: 100%;
    object-fit: cover;
}
.displayinfodiv p{
    text-align: center;
    margin-top: 15px;
}






@media (max-width: 784px) {
    .displayinfodiv{
        height: 45%;
        width: 85%;
    }
    .displayinfoicon{
        min-height: 50px; min-width: 60px;
        overflow: hidden;
    }
}

/*--------------------------------------------------------------
# End of Info Tab
--------------------------------------------------------------*/






/*--------------------------------------------------------------
# Mobile nav
--------------------------------------------------------------*/

.mobilenav{
    display: none;
}

@media (max-width: 991px) {
    .mobilenav{
        display: flex;
        position: fixed;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 50px;
        width: 85%;
        border-radius: 50px;
        background-color: black;
        bottom: 35px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.397);
        z-index: 9999;
    }
    .mobilenav i{
        color: white;
        font-size: 20px;
    }
    .mobilenav .nav-item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: rgba(245, 245, 245, 0.1);
    }
    .mobilenav  .active i{
        color: orange;
    }
    #header {
        display: none !important;
    }
    .back-to-top{
        display: none !important;
    }
}

.mobileheader{
    display: none;
}
@media Screen and (max-width: 991px) {
    .pricetags .tag{
        padding: 5px 20px 5px 20px;
        margin: 0px 15px 15px 0px;
        background-color: #3ec1d577;
        border: none;
        border-radius: 50px;
    }
    .mobileheader{
        display: flex;
        position: fixed;
        background-color: black;
        height: 50px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        top: 0;
        box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.237);
        z-index: 997;
    }
    .mobileheader .backbutton{
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        outline: none;
    }
    .mobileheader .backbutton i{
        color: white;
        font-size: 30px;
    }
    .mobileheader .backbutton i:hover{
        color: var(--orange);
        transition: 200ms;
    }
    .mobileheader  h4{
        margin: 0px !important;
        font-weight: bold;
        font-size: 19px;
        color: var(--lightblue);
    }
    
}




/*--------------------------------------------------------------
# End of Mobile nav
--------------------------------------------------------------*/









/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 25px;
    bottom: 25px;
    z-index: 996;
    background: var(--lightblue);
    width: 45px;
    height: 45px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: var(--lightblue);
    transform: scale(1.2);
    transition: 200ms;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }


/*--------------------------------------------------------------
# End of Back to top button
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Loaders
--------------------------------------------------------------*/
/* index loader */

.indexloader{
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease; 
    background-color: rgb(37, 37, 37);
    top: 0; left: 0; right: 0; bottom: 0; 
    z-index: 998;
}
.removeindexloader{
    opacity: 0;
}
.indexloader #pageloader {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.indexloader #container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}
  
.indexloader h4{
    margin: 20px 0px 0px 0px;
    color: white;
    font-weight: bold;
}
.indexloader p{
    color: rgba(245, 245, 245, 0.59);
    font-size: 12px;
}
  
#ring {
    width: 100px;
    height: 100px;
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
}
  
.indexloader #ring:nth-child(1) {
    border-bottom: 8px solid rgb(255, 141, 249);
    animation: rotate1 2s linear infinite;
}

@media (max-width: 784px) {
    #ring {
        width: 80px;
        height: 80px;
        border: 1px solid transparent;
        border-radius: 50%;
        position: absolute;
    }
}
  
@keyframes rotate1 {
    from {
      transform: rotateX(50deg) rotateZ(110deg);
    }
  
    to {
      transform: rotateX(50deg) rotateZ(470deg);
    }
}
  
.indexloader #ring:nth-child(2) {
    border-bottom: 8px solid rgb(255,65,106);
    animation: rotate2 2s linear infinite;
}
  
@keyframes rotate2 {
    from {
      transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
    }
  
    to {
      transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
    }
}
  
.indexloader #ring:nth-child(3) {
    border-bottom: 8px solid rgb(0,255,255);
    animation: rotate3 2s linear infinite;
}
  
@keyframes rotate3 {
    from {
      transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
    }
  
    to {
      transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
    }
}
  
.indexloader #ring:nth-child(4) {
    border-bottom: 8px solid rgb(252, 183, 55);
    animation: rotate4 2s linear infinite;
  }
  
@keyframes rotate4 {
    from {
      transform: rotateX(70deg) rotateZ(270deg);
    }
  
    to {
      transform: rotateX(70deg) rotateZ(630deg);
    }
}


/* prices loader */
.shimmerloader{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    opacity: 1;
    transition: opacity 0.5s ease; 
    top: 0; left: 0; right: 0; bottom: 0; 
    z-index: 998;
}
.removeloader{
    opacity: 0;
}
.shimmerloader .loaderheader{
    display: flex;
    height: 50px; min-height: 50px; width: 100%; margin-bottom: 30px;
    background-color: var(--loaderGrey);
}
.shimmerloader .loaderbtns{
    display: flex; flex-direction: row; flex-wrap: wrap; align-items: center;
}
.shimmerloader .loadertitle{
    height: 20px; width: 200px; margin: 15px 15px 30px 0px;
    border-radius: 50px; background-color: var(--loaderGrey);
}
.shimmerloader .loaderbtns .loaderbtn{
    height: 50px; width: 150px; margin: 0px 15px 15px 0px;
    border-radius: 50px; background-color: var(--loaderGrey);
}
.shimmerloader .loaderbtns .loaderbtn:nth-child(4){
    width: 80px;
}
.shimmerloader .loaderbtns .loaderbtn:nth-child(2){
    width: 180px;
}
.shimmerloader .loaderitems{
    display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;  align-items: center; width: 100%;
}
.shimmerloader .loaderitems .loaderitem{
    height: 200px; width: 30%; margin: 0px 0px 20px 0px;
    border-radius: 15px; background-color: var(--loaderGrey);
}
.shimmerloader .loadertext{
    height: 20px; width: 100%; margin: 15px 15px 30px 0px;
    border-radius: 50px; background-color: var(--loaderGrey);
}
.shimmerloader .loadersubtext{
    height: 20px; width: 60%; margin: 15px 15px 30px 0px;
    border-radius: 50px; background-color: var(--loaderGrey);
}
@media (max-width: 784px) {
    .shimmerloader .loaderitems .loaderitem{
        height: 120px; width: 100%; margin: 0px 0px 20px 0px;
        border-radius: 15px; background-color: var(--loaderGrey);
    }
    .shimmerloader .loadertext, .loadersubtext, .loadertitle{
        height: 20px !important; 
    }
    .shimmerloader .loaderbtns .loaderbtn{
        height: 40px; width: 150px; margin: 0px 15px 15px 0px;
        border-radius: 50px; background-color: var(--loaderGrey);
    }
}

/*--------------------------------------------------------------
# End of Loaders
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# loading effect
--------------------------------------------------------------*/

.shimmer-box {
    position: relative;
    overflow: hidden;
}

.shimmer-box::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, rgba(255,255,255,0.6) 50%, transparent 100%);
    animation: shimmer 1.5s infinite;
}
  
  @keyframes shimmer {
    0% {
      left: -150px;
    }
    100% {
      left: 100%;
    }
  }

/*--------------------------------------------------------------
# End of loading effect
--------------------------------------------------------------*/